*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

:root{
    --wh: rgb(236, 236, 236);
    --ye: rgb(255, 237, 0);
    --pur: purple;
}

.text-wh{
    color: var(--wh);
}

.text-ye {
    color: var(--ye);
}

.font-custom {
    font-size: x-small;
}

.bi-calendar4-week{
    color: var(--ye);
}

.header-custom{
    background-image: url(./media/bg-1.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.hoverbtn:hover {
    color: black;
}

.article1-custom {
    background-color: rgb(27, 21, 64);
}

.article2-custom {
    background-color: rgb(20, 9, 37);
    padding: 100px 20px;
}

.article3-custom {
    background-image: url(./media/bg-3.jpg);
    background-position: center;
    background-size: cover;
}


.formbg-custom {
    background-image: url(./media/bg-2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.box {
    padding: 70px 20px;
    background-color: rgb(27, 21, 64);
    top: 80px;
}


.form-custom {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--pur);
    font-size: smaller;
}


.icontwo-custom {
    color: var(--wh);
    background-color: var(--ye);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btntwo {
    background-color: var(--ye);
    color: rgb(20, 9, 37);
}

.btntwo:hover {
    background-color: transparent;
    color: var(--ye);
    border: 1px solid var(--ye);
}

@media screen and (max-width: 600px) {
    .article1-custom {
        padding: 20px;
    }

    .box {
        height: 80%;
    }

    .tondo {
        margin-bottom: 30px; 
    }
}